.pre {
    background-color: white;
}

.code {
    display: block;
    line-height: 1.5;
    padding: 12px;
    border: 1px solid var(--color-border);
    color: black;
    overflow-x: scroll;

    @media (min-width: 480px) {
        font-size: 12px;
    }

    @media (min-width: 768px) {
        font-size: 14px;
    }

    @media (min-width: 1080px) {
        font-size: 16px;
    }
}