@font-face {
  font-family: pretendard;
  src: url('/fonts/pretendard.woff2') format('woff2')
}

body {
    font-family: pretendard, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}


