body {
    font-family: pretendard, sans-serif;
    line-height: 1.6;

    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: var(--font-size);
}

div {
    font-size: var(--font-size);
}