// _variables.scss

:root {
    --viewport-content: 100%;
    --max-width: 100%;
}

@media (min-width: 480px) {
    :root {
        --viewport-content: 87.5%;
        --max-width: 420px;
    }

    ::-webkit-scrollbar {
        display: none; /* 스크롤바를 보이지 않게 함 */
    }

    body {
        scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
    }
}

@media (min-width: 768px) {
    :root {
        --viewport-content: calc(100% - 134px);
        --max-width: 700px;
    }
}

@media (min-width: 1080px) {
    :root {
        --viewport-content: calc(100% - 180px);
        --max-width: 1000px;
    }
}