@use "../styles/variables" as *;

.layout {
    min-height: 100vh;
    max-width: var(--max-width);
    width: var(--viewport-content);
    padding: 0 12px;
    margin: 0 auto;
    box-sizing: border-box;
}