@use "../styles/mixin.scss" as *;

.item {
    @include flex-row-left;
    padding: var(--padding-md);
    background-color: var(--color-light-gray);
    border-radius: var(--border-radius-md);
    transition: background-color 0.3 ease;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-light-gray-hover);
        }
    }

    &__left { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__right {
        gap: var(--gap-md);
    }

    &__thumnail {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        margin: 0 12px;
        object-fit: contain;
    }

    &__name {
        color: var(--color-href);
    }

    &__title {
        color: var(--color-text);
        margin: 0;
    }

    &__summary {
        color: var(--color-sub-text);
        line-height: 1.2;
        margin: 0;
    }
}