/* android */
@font-face {
    font-family: Noto Sans KR;
    src: url('/fonts/NotoSansKR-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Noto Sans KR;
    src: url('/fonts/NotoSansKR-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* ios */
@font-face {
    font-family: Apple SD Gothic Neo;
    src: url('/fonts/AppleSDGothicNeo-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Apple SD Gothic Neo;
    src: url('/fonts/AppleSDGothicNeo-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Web */
@font-face {
    font-family: '11 Street Gothic';
    src: url('/fonts/11STREET_Gothic_regular.otf') format('otf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: '11 Street Gothic';
    src: url('/fonts/11STREET_Gothic_bold.otf') format('otf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* 기본 Web 폰트 */
body.web {
    font-family: '11 Street Gothic', sans-serif;
}

/* Android에서 사용하는 폰트 */
body.android {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

/* iOS에서 사용하는 폰트 */
body.ios {
    font-family: 'SF Pro Text', 'Apple SD Gothic Neo', sans-serif;
}